<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
		<ul class="nav nav-stacked">
		  <li class="active"><a href="#">albert</a></li>
		  <li><a href="#">Lito</a></li>
		  <li><a href="#">Kado</a></li>
		</ul>
    </div>
    <div class="span10">
      <ul class="nav">
		  <li><span>Albert: </span><cite>Hello There</cite></li>
		  <li><span>Albert: </span><cite>Hello There</cite></li>
		  <li><span>Albert: </span><cite>Hello There</cite></li>
		  <li><span>Albert: </span><cite>Hello There</cite></li>
		  <li><span>Albert: </span><cite>Hello There</cite></li>
		</ul>
    </div>
  </div>
</div>